* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #2b86c2;
}

label {
  margin-top: 0.7em;
}

input {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #000;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 10px;
}

.form-items {
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.5em;
  color: #fff;
  background: #f39821;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1em;
  border-radius: 10px;
}

.error {
  font-size: 0.8rem;
  color: red;
}
